body { background: #361560; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 15px; display: flex; }
.block-router-0 { color: #94ddcb; font-size: 20px; margin-bottom: 5px; }
.block-shipping-1 { color: #9c51b; font-size: 20px; margin-bottom: 5px; }
.block-helper-2 { color: #9f2227; font-size: 12px; margin-bottom: 5px; }
.block-invoice-3 { color: #9c87e2; font-size: 18px; margin-bottom: 5px; }
.block-search-4 { color: #d56ea2; font-size: 15px; margin-bottom: 5px; }
.block-sms-5 { color: #3bb154; font-size: 20px; margin-bottom: 5px; }